<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!--EDITACE LODÍ-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Studentský projekt Nosek & Dušek</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">

    <!-- styly -->
    <link type="text/css" rel="stylesheet" href="/css/main.css"/>

    <!-- ikona -->
    <link rel="shortcut icon" href="/img/uhk.png" type="image/png" sizes="16x16">
</head>

<body>

<!-- nadpis -->
<header class="obecne">
    <img src="/img/logo.png" class="logo" alt="Přístav Dušek & Nosek">
</header>

<!-- vyskakovací okno-->
<div class="popup" id="myForm2">
    <form class="container">
        <h2>Přihlášení uživatele</h2>
        <div class="oddelit2">
            <label for="emailPrihlaseni">Email</label>
            <input type="text" id="emailPrihlaseni" name="emailPrihlaseni" placeholder="Váš email..." required><br>
        </div>
        <div class="oddelit2">
            <label for="psw">Heslo</label>
            <input type="password" id="psw" name="psw" placeholder="Váše heslo..." required><br>
        </div>
        <button type="submit" class="myButton3 uprostred">Přihlásit se</button><br>
        <button type="button" class="myButton2 uprostred" onclick="closeForm2()">Zavřít</button>
    </form>
</div>

<!-- Vyskakovací okno -->
<div class="popup" id="myForm">
    <form class="container">
        <h2>Detaily lodě</h2>
        <div class="oddelit">
            <label for="nazevL">Název lodě</label>
            <input type="text" id="nazevL"><br>
        </div>
        <div class="oddelit">
            <label for="nazevS">Název společnosti</label>
            <input type="text" id="nazevS"><br>
        </div>
        <div class="oddelit">
            <label for="naklad">Druh nákladu</label>
            <input type="text" id="naklad"><br>
        </div>
        <div class="oddelit">
            <label for="hmotnost">Hmotnost nákladu (kg)</label>
            <input type="number" id="hmotnost"><br>
        </div>
        <div class="oddelit">
            <label for="pristav">Zvolený přístav:</label>
            <select id="pristav">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select><br>
        </div>
        <div class="oddelit">
            <label for="casP">Čas příjezdu</label>
            <input type="time" id="casP"><br>
        </div>
        <div class="oddelit">
            <label for="casO">Čas odjezdu</label>
            <input type="time" id="casO"><br>
        </div>
        <div class="oddelit">
            <label for="stav">Stav lodi</label>
            <select id="stav">
                <option value="1">Očekává se</option>
                <option value="2">Aktuálně v přístavu</option>
                <option value="3">Již odjela</option>
            </select><br>
        </div>

        <button type="submit" class="myButton3 uprostred">Uložit</button>
        <button type="button" class="myButton2 uprostred" onclick="closeForm()">Zavřít</button>
    </form>
</div>

<!-- navigace -->
<nav class="navigace obecne">
    <nav class="vlevoNav">
        <a class="nav1" href='/uvod'>ÚVOD </a>
        <a class="nav2" href='/rozcestnik'> ROZCESTNÍK </a>
    </nav>
    <nav class="vpravoNav">
        <button  class="myButton3 nav1" onclick="openForm2()" type="button">PŘIHLÁSIT SE</button>
        <button  class="myButton2 nav2" type="button">ODHLÁSIT SE</button>
    </nav>
</nav>

<!-- článek: editace lodí -->
<article class="clanek obecne">
    <h2 class="uprostredN">Editace lodí</h2>
    <div class="odstavec2">
        <h3 class="velke">Seznam všech lodí a jejich nákladů</h3>

        <!-- tabulka: editace lodí -->
        <table class="table2">
            <tr>
                <th>ID lodě</th>
                <th>Název lodě</th>
                <th>Společnost</th>
                <th>Druh nákladu</th>
                <th>Stav lodi</th>
                <th>Upravit údaje</th>
            </tr>
            <tr th:each="schedule: ${shipData}">
                <td th:text="${schedule.ship.id}"></td>
                <td th:text="${schedule.ship.name}"></td>
                <td th:text="${schedule.ship.company}"></td>
                <td th:text="${schedule.ship.cargoType}"></td>
                <td th:text="${schedule.state}"></td>
                <td>
                    <button class="myButton1 loadLoadButton" type="button"
                            th:attr="data-ship_id=${schedule.ship.id},
                                     data-ship_name=${schedule.ship.name}">Náklad?</button>
                    <button class="myButton1" onclick="openForm()" type="button">Upravit</button>
                </td>
            </tr>
        </table >
    </div>

<!--    Div pro nacitani nakladu-->
    <div class="odstavec2" id="cargoNode" hidden="true"></div>

    <!-- přidání nové lodě -->
    <div class="odstavec2">
        <h3 class="velke">Přidat novou loď:</h3>

        <!--obrázek-->
        <div class="obrVpravo">
            <img src="/img/obr3.jpg" class="obrazek4" alt="Obrázek zaměstnanců">
        </div>

        <div class="novyVlevo">
            <div class="oddelit">
                <label>Název lodě:</label>
                <input class="vpravo" type="text" placeholder="Název lodě"><br>
            </div>
            <div class="oddelit">
                <label>Název společnosti:</label>
                <input class="vpravo" type="text" placeholder="Název společnosti"><br>
            </div>
            <div class="oddelit">
                <label>Druh nákladu:</label>
                <input class="vpravo" type="text" placeholder="Druh nákladu"><br>
            </div>
            <div class="oddelit">
                <label>Hmotnost nákladu (kg):</label>
                <input class="vpravo" type="number" placeholder="Hmotnost"><br>
            </div>
            <div class="oddelit">
                <label>Zvolený přístav:</label>
                <select class="vpravo">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select><br>
            </div>
            <div class="oddelit">
                <label>Čas příjezdu:</label>
                <input class="vpravo" type="time" ><br>
            </div>
            <div class="oddelit">
                <label>Čas odjezdu:</label>
                <input class="vpravo"type="time"><br>
            </div>
            <div class="oddelit">
                <label>Stav lodi:</label>
                <select class="vpravo">
                    <option value="1">Očekává se</option>
                    <option value="2">Aktuálně v přístavu</option>
                    <option value="3">Již odjela</option>
                </select><br>
            </div>
            <div class="oddelit">
                <input class="myButton1 uprostred" type="submit" value="Přidat">
            </div>
        </div>
    </div>
</article>

<!-- zápatí -->
<div class="footer obecne">
    <p> Copyright &copy; 2022 | Karel Nosek & Jan Dušek - studentský projekt z předmětu PPRO</p>
</div>

<!-- skript pro vyskakovací okno -->
<script src="/js/popupWindow.js"></script>
<script type="module" src="/js/editace.js"></script>

</body>

</html>