<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<!--EDITACE LODÍ-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Studentský projekt Nosek & Dušek</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">

    <!-- styly -->
    <link type="text/css" rel="stylesheet" href="/css/main.css"/>

    <!-- ikona -->
    <link rel="shortcut icon" href="/img/uhk.png" type="image/png" sizes="16x16">
</head>

<body>

<!-- nadpis -->
<header class="obecne">
    <img src="/img/logo.png" class="logo" alt="Přístav Dušek & Nosek">
</header>

<!-- Vyskakovací okno pro zobrazení detailu lodě a její úpravy -->
<div class="popup" id="myForm">
    <form class="container">
        <button type="button" class="close" onclick="closeForm()">x</button>
        <h2>Detaily lodě</h2>
        <div class="oddelit">
            <label for="nazevL">Název lodě</label>
            <input type="text" id="nazevL"><br>
        </div>
        <div class="oddelit">
            <label for="nazevS">Název společnosti</label>
            <input type="text" id="nazevS"><br>
        </div>
        <div class="oddelit">
            <label for="naklad">Druh nákladu</label>
            <select id="naklad">
                <option value="FOOD">FOOD</option>
                <option value="ANIMALS">ANIMALS</option>
                <option value="FUELS">FUELS</option>
                <option value="VEHICLES">VEHICLES</option>
                <option value="MACHINERY">MACHINERY</option>
                <option value="DRYBULK">DRYBULK</option>
                <option value="LIQUIDBULK">LIQUIDBULK</option>
                <option value="CHEMICAL">CHEMICAL</option>
                <option value="OTHERS">OTHERS</option>
                <option value="EMPTY">EMPTY</option>
            </select><br>
        </div>
        <div class="oddelit">
            <label for="stav">Stav lodi</label>
            <select id="stav">
                <option value="ARRIVING">Očekává se</option>
                <option value="HARBER">Aktuálně v přístavu</option>
                <option value="GONE">Již odplula</option>
            </select><br>
        </div>
        <div class="oddelit">
            <label for="casP">Čas příjezdu</label>
            <input type="text" id="casP" placeholder=""><br>
        </div>
        <div class="oddelit">
            <label for="casO">Čas odjezdu</label>
            <input type="text" id="casO"><br>
        </div>
        <button type="submit" class="myButton3 uprostred" id="updateSchedule">Uložit</button>
        <button type="button" class="myButton2 uprostred" id="deleteSchedule">Smazat</button>
    </form>
</div>

<!-- Vyskakovací okno pro přidání nákladu-->
<div class="popup" id="myForm3">
    <form class="container">
        <button type="button" class="close" onclick="closeForm3()">x</button>
        <h2>Přidat nový náklad</h2>
        <div class="oddelit">
            <label for="nazevPridat">Název nákladu</label>
            <input type="text" id="nazevPridat"><br>
        </div>
        <div class="oddelit">
            <label for="hodnotaPridat">Hodnota nákladu (Kč)</label>
            <input type="number" id="hodnotaPridat"><br>
        </div>
        <div class="oddelit">
            <label for="hmotnostPridat">Hmotnost nákladu (Kg)</label>
            <input type="number" id="hmotnostPridat"><br>
        </div>
        <div class="oddelit">
            <label for="odesPridat">Odesílatel</label>
            <input type="text" id="odesPridat"><br>
        </div>
        <div class="oddelit">
            <label for="poznPridat">Poznámka</label>
            <input type="text" id="poznPridat"><br>
        </div>
        <button type="submit" class="myButton3 uprostred" id="postCargo">Uložit</button>
    </form>
</div>

<!-- Vyskakovací okno pro zobrazení detailu nákladu a jeho upravení-->
<div class="popup" id="myForm4">
    <form class="container">
        <button type="button" class="close" onclick="closeForm4()">x</button>
        <h2>Zobrazit detail nákladu</h2>
        <div class="oddelit">
            <label for="nazevUpravit">Název nákladu</label>
            <input type="text" id="nazevUpravit"><br>
        </div>
        <div class="oddelit">
            <label for="hodnotaUpravit">Hodnota nákladu (Kč)</label>
            <input type="number" id="hodnotaUpravit"><br>
        </div>
        <div class="oddelit">
            <label for="hmotnostUpravit">Hmotnost nákladu (Kg)</label>
            <input type="number" id="hmotnostUpravit"><br>
        </div>
        <div class="oddelit">
            <label for="odesUpravit">Odesílatel</label>
            <input type="text" id="odesUpravit"><br>
        </div>
        <div class="oddelit">
            <label for="poznUpravit">Poznámka</label>
            <input type="text" id="poznUpravit"><br>
        </div>
        <button type="submit" class="myButton3 uprostred" id="updateCargo">Uložit</button>
        <button type="button" class="myButton2 uprostred" id="deleteCargo">Smazat</button>
    </form>
</div>

<!-- navigace -->
<nav class="navigace obecne">
    <nav class="vlevoNav">
        <a class="nav1" href='/uvod'>ÚVOD </a>
        <a class="nav2" href='/rozcestnik'> ROZCESTNÍK </a>
    </nav>
    <nav class="vpravoNav">
        <div sec:authorize="isAuthenticated()">
            <a href="javascript: document.logoutForm.submit()" class="dropdown-toggle nav1">ODHLÁSIT SE</a>
            <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
                <input hidden type="submit" value="Sign Out" />
            </form>
        </div>
    </nav>
</nav>

<!-- článek: editace lodí -->
<article class="clanek3 obecne">
    <h2 class="uprostredN">Editace lodí</h2>
    <div class="odstavec2">
        <h3 class="velke">Seznam všech lodí a jejich nákladů</h3>

        <!-- tabulka: editace lodí -->
        <table class="table2">
            <tr>
                <th>ID lodě</th>
                <th>Název lodě</th>
                <th>Společnost</th>
                <th>Druh nákladu</th>
                <th>Stav lodi</th>
                <th>Čas příjezdu</th>
                <th>Čas odjezdu</th>
                <th>Upravit údaje</th>
                <th>Zobrazit náklad</th>
            </tr>
            <tr th:each="schedule: ${shipData}">
                <td th:text="${schedule.ship.id}"></td>
                <td th:text="${schedule.ship.name}"></td>
                <td th:text="${schedule.ship.company}"></td>
                <td th:text="${schedule.ship.cargoType}"></td>
                <td th:switch="${schedule.state}">
                    <span th:case="${T(com.example.springjpaweb.enums.StateOfShip).ARRIVING}">Očekává se</span>
                    <span th:case="${T(com.example.springjpaweb.enums.StateOfShip).HARBER}">V přístavu</span>
                    <span th:case="${T(com.example.springjpaweb.enums.StateOfShip).GONE}">Již odplula</span>
                    <span th:case="*">Bez statusu</span>
                </td>
                <td th:text="${schedule.arrivalTime}"></td>
                <td th:text="${schedule.departureTime}"></td>
                <td>
                    <button class="myButton1 uprostred editShipButton" type="button"
                            th:attr="data-schedule_id=${schedule.id},
                                    data-ship_id=${schedule.ship.id}">Upravit</button>
                </td>
                <td>
                    <button class="myButton1 uprostred loadLoadButton" type="button"
                            th:attr="data-ship_id=${schedule.ship.id},
                                     data-ship_name=${schedule.ship.name}">Náklad
                    </button>
                </td>
            </tr>
        </table>
    </div>

    <!--    Div pro nacitani nakladu-->
    <div class="odstavec2" id="cargoNode" hidden="true">
    </div>


    <div>
        <button type="button" class="myButton1 uprostred" id="addNewCargo" onclick="openForm3()" style="display: none;">Přidat nový náklad</button>
    </div>

    <!-- přidání nové lodě -->
    <div class="odstavec2">
        <h3 class="velke">Přidat novou loď:</h3>

        <!--obrázek-->
        <div class="obrVpravo">
            <img src="/img/obr3.jpg" class="obrazek4" alt="Obrázek lodí">
        </div>

        <div class="novyVlevo" id="newShipAndScheduleForm">
            <div class="oddelit">
                <label>Název lodě:</label>
                <input class="vpravo" type="text" placeholder="Název lodě" id="shipName"><br>
            </div>
            <div class="oddelit">
                <label>Název společnosti:</label>
                <input class="vpravo" type="text" placeholder="Název společnosti" id="shipCompany"><br>
            </div>
            <div class="oddelit">
                <label>Druh nákladu:</label>
                <select class="vpravo" id="shipCargoType">
                    <option value="FOOD">FOOD</option>
                    <option value="ANIMALS">ANIMALS</option>
                    <option value="FUELS">FUELS</option>
                    <option value="VEHICLES">VEHICLES</option>
                    <option value="MACHINERY">MACHINERY</option>
                    <option value="DRYBULK">DRYBULK</option>
                    <option value="LIQUIDBULK">LIQUIDBULK</option>
                    <option value="CHEMICAL">CHEMICAL</option>
                    <option value="OTHERS">OTHERS</option>
                    <option value="EMPTY">EMPTY</option>
                </select><br>
            </div>
            <div class="oddelit">
                <label>Stav lodi:</label>
                <select class="vpravo" id="scheduleState">
                    <option value="ARRIVING">Očekává se</option>
                    <option value="HARBER">Aktuálně v přístavu</option>
                    <option value="GONE">Již odjela</option>
                </select><br>
            </div>
            <div class="oddelit">
                <label>Čas příjezdu:</label>
                <input class="vpravo" type="text" placeholder="dd.mm.yyyy hh:mm" id="scheduleArrivalTime"><br>
            </div>
            <div class="oddelit">
                <label>Čas odjezdu:</label>
                <input class="vpravo" type="text" placeholder="dd.mm.yyyy hh:mm" id="scheduleDepartureTime"><br>
            </div>
            <div class="oddelit">
                <input class="myButton1 uprostred" type="submit" value="Přidat" id="addNewShipAndSchedule">
            </div>
        </div>
    </div>
</article>

<!-- zápatí -->
<div class="footer obecne">
    <p> Copyright &copy; 2022 | Karel Nosek & Jan Dušek - studentský projekt z předmětu PPRO</p>
</div>

<!-- skript pro vyskakovací okno -->
<script src="/js/lib/popupWindow.js"></script>
<script type="module" src="/js/editace.js"></script>

</body>

</html>