<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!--EDITACE LODÍ-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Studentský projekt Nosek & Dušek</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">

    <!-- styly-->
    <link type="text/css" rel="stylesheet" href="/css/main.css"/>

    <!-- ikona -->
    <link rel="shortcut icon" href="/img/uhk.png" type="image/png" sizes="16x16">

</head>

<body>
<!-- nadpis -->
<header>
    <img src="/img/logo.png" class="nadpis" alt="Přístav Dušek & Nosek">
</header>

<!-- navigace -->
<nav class="navigace">
    <a href='/'>ÚVOD </a>|
    <a href='/rozcestnik'> ROZCESTNÍK </a>
</nav>

<!-- zápatí -->
<div class="footer">
    <p> &copy;2022 | Karel Nosek & Jan Dušek - studentský projekt z předmětu PPRO</p>
</div>

</body>

</html>