<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!--EVIDENCE ZAMĚSTNANCŮ-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Studentský projekt Nosek & Dušek</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">

    <!-- styly -->
    <link type="text/css" rel="stylesheet" href="/css/main.css"/>

    <!-- ikona -->
    <link rel="shortcut icon" href="/img/uhk.png" type="image/png" sizes="16x16">
</head>

<body>

<!-- nadpis -->
<header class="obecne">
    <img src="/img/logo.png" class="logo" alt="Přístav Dušek & Nosek">
</header>

<!-- navigace -->
<nav class="navigace obecne">
    <nav class="vlevoNav">
        <a class="nav1" href='/uvod'>ÚVOD </a>
        <a class="nav2" href='/rozcestnik'> ROZCESTNÍK </a>
    </nav>
    <nav class="vpravoNav">
        <button class="myButton3 nav1" onclick="openForm2()" type="button">PŘIHLÁSIT SE</button>
        <button class="myButton2 nav2" type="button">ODHLÁSIT SE</button>
    </nav>
</nav>

<!-- vyskakovací okno-->
<div class="popup" id="myForm2">
    <form class="container">
        <h2>Přihlášení uživatele</h2>
        <div class="oddelit2">
            <label for="emailPrihlaseni">Email</label>
            <input type="text" id="emailPrihlaseni" name="emailPrihlaseni" placeholder="Váš email..." required><br>
        </div>
        <div class="oddelit2">
            <label for="psw">Heslo</label>
            <input type="password" id="psw" name="psw" placeholder="Vaše heslo..." required><br>
        </div>
        <button type="submit" class="myButton3 uprostred">Přihlásit se</button>
        <br>
        <button type="button" class="myButton2 uprostred" onclick="closeForm2()">Zavřít</button>
    </form>
</div>

<!-- Vyskakovací okno -->
<div class="popup" id="myForm">
    <form class="container">
        <button type="button" class="close" onclick="closeForm()">x</button>
        <h2>Detaily zaměstnance</h2>
        <div class="oddelit">
            <label for="jmeno">Jméno</label>
            <input type="text" id="jmeno"><br>
        </div>
        <div class="oddelit">
            <label for="prijmeni">Příjmení</label>
            <input type="text" id="prijmeni"><br>
        </div>
        <div class="oddelit">
            <label for="naklad">Pozice</label>
            <select id="naklad">
                <option value="BOSS">Vedoucí přístavu</option>
                <option value="WORKER">Řadový zaměstnanec</option>
                <option value="ADMIN">Majitel přístavu/Admin</option>
            </select><br>
        </div>
        <div class="oddelit">
            <label for="email">Email</label>
            <input id="email" type="text"><br>
        </div>
        <div class="oddelit">
            <label for="telefon">Telefon</label>
            <input type="text" id="telefon"><br>
        </div>
        <button type="submit" class="myButton3 uprostred" id="updateWorker">Uložit</button>
        <button type="button" class="myButton2 uprostred" id="deleteWorker">Smazat</button>
    </form>
</div>

<!-- článek: evidence zaměstnanců -->
<article class="clanek obecne">
    <h2 class="uprostredN">Evidence zaměstnanců</h2>
    <div class="odstavec2">
        <h3 class="velke">Seznam zaměstnanců</h3>

        <!-- tabulka: evidence zaměstnanců -->
        <table class="table2">
            <tr>
                <th>ID</th>
                <th>Jméno</th>
                <th>Příjmení</th>
                <th>Pozice</th>
                <th>Email</th>
                <th>Telefon</th>
                <th>Upravit údaje</th>
            </tr>
            <tr th:each="worker: ${workers}">
                <td th:text="${worker.id}"></td>
                <td th:text="${worker.firstName}"></td>
                <td th:text="${worker.sureName}"></td>
                <td th:switch="${worker.role}">
                    <span th:case="${T(com.example.springjpaweb.enums.Role).BOSS}">Vedoucí</span>
                    <span th:case="${T(com.example.springjpaweb.enums.Role).ADMIN}">Admin</span>
                    <span th:case="${T(com.example.springjpaweb.enums.Role).WORKER}">Pracovník</span>
                    <span th:case="*">Bez pozice</span>
                </td>
                <td th:text="${worker.email}"></td>
                <td th:text="${worker.phone}"></td>
                <td>
                    <button class="myButton1 uprostred editWorker" th:attr="data-worker_id=${worker.id}" type="button">
                        Upravit
                    </button>
                </td>
            </tr>
        </table>
    </div>

    <!-- přidání nového zaměstnance -->
    <div class="odstavec2 odsadit2">
        <h3 class="velke"> Přidat nového zaměstnance:</h3>

        <!--obrázek-->
        <div class="obrVpravo">
            <img src="/img/obr1.jpg" class="obrazek4" alt="Obrázek zaměstnanců">
        </div>

        <div class="novyVlevo" id="newWorkerForm">
            <div class="oddelit">
                <label>Jméno:</label>
                <input class="vpravo" type="text" placeholder="Jméno" id="firstName"><br>
            </div>
            <div class="oddelit">
                <label>Příjmení:</label>
                <input class="vpravo" type="text" placeholder="Příjmení" id="sureName"><br>
            </div>
            <div class="oddelit">
                <label>Pozice:</label>
                <select class="vpravo" id="role">
                    <option value="BOSS">Vedoucí přístavu</option>
                    <option value="WORKER">Řadový zaměstnanec</option>
                    <option value="ADMIN">Majitel přístavu/Admin</option>
                </select><br>
            </div>
            <div class="oddelit">
                <label>Email:</label>
                <input class="vpravo" type="text" placeholder="Email" id="emailNew"><br>
            </div>
            <div class="oddelit">
                <label>Heslo:</label>
                <input class="vpravo" type="password" placeholder="Heslo" id="password"><br>
            </div>
            <div class="oddelit">
                <label>Telefon:</label>
                <input class="vpravo" type="text" placeholder="Telefonní číslo" id="phone"><br>
            </div>
            <div class="oddelit">
                <input class="myButton1 uprostred" id="postWorker" type="submit" value="Přidat">
            </div>
        </div>
    </div>
</article>

<!-- zápatí -->
<div class="footer obecne">
    <p> Copyright &copy; 2022 | Karel Nosek & Jan Dušek - studentský projekt z předmětu PPRO</p>
</div>

<!-- skript pro vyskakovací okno -->
<script src="/js/lib/popupWindow.js"></script>
<script type="module" src="/js/evidenceZamestnancu.js"></script>

</body>

</html>