<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!--EVIDENCE ZAMĚSTNANCŮ-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Studentský projekt Nosek & Dušek</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">

    <!-- styly -->
    <link type="text/css" rel="stylesheet" href="../static/css/main.css"/>

    <!-- ikona -->
    <link rel="shortcut icon" href="../static/img/uhk.png" type="image/png" sizes="16x16">
</head>

<body>

<!-- nadpis -->
<header class="obecne">
    <img src="../static/img/logo.png" class="logo" alt="Přístav Dušek & Nosek">
</header>

<!-- navigace -->
<nav class="navigace obecne">
    <a class="nav1" href='uvod.html'>ÚVOD </a>
    <a class="nav2" href='rozcestnik.html'> ROZCESTNÍK </a>
</nav>

<!-- Vyskakovací okno -->
<div class="popup" id="myForm">
    <form class="container">
        <h2>Detaily zaměstnance</h2>
        <div class="oddelit">
            <label for="jmeno">Jméno</label>
            <input type="text" id="jmeno"><br>
        </div>
        <div class="oddelit">
            <label for="prijmeni">Příjmení</label>
            <input type="text" id="prijmeni"><br>
        </div>
        <div class="oddelit">
            <label for="naklad">Pozice</label>
            <select id="naklad">
                <option value="1">Vedoucí přístavu</option>
                <option value="2">Řadový zaměstnanec</option>
                <option value="3">Majitel přístavu/Admin</option>
            </select><br>
        </div>
        <div class="oddelit">
            <label for="email">Email</label>
            <input id="email" type="number"><br>
        </div>
        <div class="oddelit">
            <label for="telefon">Telefon</label>
            <input type="time" id="telefon"><br>
        </div>
        <button type="submit" class="btn">Uložit</button>
        <button type="button" class="btn cancel" onclick="closeForm()">Zavřít</button>
    </form>
</div>

<!-- článek: evidence zaměstnanců -->
<article class="clanek obecne">
    <h2 class="uprostredN">Evidence zaměstnanců</h2>
    <div class="odstavec2">
        <h3 class="velke">Seznam zaměstnanců</h3>

        <!-- tabulka: evidence zaměstnanců -->
        <table class="table2">
            <tr>
                <th>Jméno</th>
                <th>Příjmení</th>
                <th>Pozice</th>
                <th>Email</th>
                <th>Telefon</th>
                <th>Upravit údaje</th>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <button type="button">Upravit</button>
                </td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <button type="button">Upravit</button>
                </td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <button type="button">Upravit</button>
                </td>
            </tr>
        </table>
    </div>

    <!-- přidání nového zaměstnance -->
    <div class="odstavec2 odsadit2">
        <h3 class="velke"> Přidat nového zaměstnance:</h3>

        <!--obrázek-->
        <div class="obrVpravo">
            <img src="../static/img/obr1.jpg" class="obrazek4" alt="Obrázek zaměstnanců">
        </div>

        <div class="novyVlevo">
            <div class="oddelit">
                <label>Jméno:</label>
                <input class="vpravo" type="text" placeholder="Jméno"><br>
            </div>
            <div class="oddelit">
                <label>Příjmení:</label>
                <input class="vpravo" type="text" placeholder="Příjmení"><br>
            </div>
            <div class="oddelit">
                <label>Pozice:</label>
                <select class="vpravo">
                    <option value="1">Vedoucí přístavu</option>
                    <option value="2">Řadový zaměstnanec</option>
                    <option value="3">Majitel přístavu/Admin</option>
                </select><br>
            </div>
            <div class="oddelit">
                <label>Email:</label>
                <input class="vpravo" type="text" placeholder="Email"><br>
            </div>
            <div class="oddelit">
                <label>Telefon:</label>
                <input class="vpravo" type="text" placeholder="Mobilní číslo"><br>
            </div>
            <div class="oddelit">
                <input type="submit" value="Přidat">
            </div>
        </div>
    </div>
</article>

<!-- zápatí -->
<div class="footer obecne">
    <p> Copyright &copy; 2022 | Karel Nosek & Jan Dušek - studentský projekt z předmětu PPRO</p>
</div>

<!-- skript pro vyskakovací okno -->
<script src="../static/js/popupWindow.js"></script>

</body>

</html>