<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!--HARMONOGRAM-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Studentský projekt Nosek & Dušek</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">

    <!-- styly-->
    <link type="text/css" rel="stylesheet" href="../static/css/main.css"/>

    <!-- ikona -->
    <link rel="shortcut icon" href="../static/img/uhk.png" type="image/png" sizes="16x16">
</head>

<body>

<!-- nadpis -->
<header class="obecne">
    <img src="../static/img/logo.png" class="logo" alt="Přístav Dušek & Nosek">
</header>

<!-- navigace -->
<nav class="navigace obecne">
    <a class="nav1" href='uvod.html'>ÚVOD </a>
    <a class="nav2" href='rozcestnik.html'> ROZCESTNÍK </a>
</nav>

<article class="clanek obecne">
    <h2 class="malynadpis">Očekává se</h2>
    <table class="tabulka1">
        <tr>
            <th>Název lodě</th>
            <th>Název společnosti</th>
            <th>Druh nákladu</th>
            <th>Hmotnost nákladu (kg)</th>
            <th>Zvolený přístav</th>
            <th>Čas příjezdu</th>
            <th>Čas odjezdu</th>
            <th>Stav lodi</th>
            <th>Zobrazit detail</th>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><button type="button">Detail</button></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><button type="button">Detail</button></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><button type="button">Detail</button></td>
        </tr>
    </table>
    <h2 class="malynadpis">Aktuálně v přístavu</h2>
    <table>
        <tr>
            <th>Název lodě</th>
            <th>Název společnosti</th>
            <th>Druh nákladu</th>
            <th>Hmotnost nákladu (kg)</th>
            <th>Zvolený přístav</th>
            <th>Čas příjezdu</th>
            <th>Čas odjezdu</th>
            <th>Zobrazit detail</th>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><button type="button">Detail</button></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><button type="button">Detail</button></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><button type="button">Detail</button></td>
        </tr>
    </table>
    <h2 class="malynadpis">Již odjely</h2>
    <table>
        <tr>
            <th>Název lodě</th>
            <th>Název společnosti</th>
            <th>Druh nákladu</th>
            <th>Hmotnost nákladu (kg)</th>
            <th>Zvolený přístav</th>
            <th>Čas příjezdu</th>
            <th>Čas odjezdu</th>
            <th>Zobrazit detail</th>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><button type="button">Detail</button></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><button type="button">Detail</button></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><button type="button">Detail</button></td>
        </tr>
    </table>
</article>

<!-- zápatí -->
<div class="footer obecne">
    <p> Copyright &copy; 2022 | Karel Nosek & Jan Dušek - studentský projekt z předmětu PPRO</p>
</div>

</body>

</html>