<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!--HARMONOGRAM-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Studentský projekt Nosek & Dušek</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">

    <!-- styly -->
    <link type="text/css" rel="stylesheet" href="/css/main.css"/>

    <!-- ikona -->
    <link rel="shortcut icon" href="/img/uhk.png" type="image/png" sizes="16x16">
</head>

<body>

<!-- nadpis -->
<header class="obecne">
    <img src="/img/logo.png" class="logo" alt="Přístav Dušek & Nosek">
</header>

<!-- vyskakovací okno-->
<div class="popup" id="myForm2">
    <form class="container">
        <h2>Přihlášení uživatele</h2>
        <div class="oddelit2">
            <label for="emailPrihlaseni">Email</label>
            <input type="text" id="emailPrihlaseni" name="emailPrihlaseni" placeholder="Váš email..." required><br>
        </div>
        <div class="oddelit2">
            <label for="psw">Heslo</label>
            <input type="password" id="psw" name="psw" placeholder="Váše heslo..." required><br>
        </div>
        <button type="submit" class="myButton3 uprostred">Přihlásit se</button><br>
        <button type="button" class="myButton2 uprostred" onclick="closeForm2()">Zavřít</button>
    </form>
</div>

<!--Vyskakovací okno-->
<div class="popup" id="myForm">
    <form class="container">
        <h2>Detaily lodě</h2>
        <div class="oddelit">
            <label for="nazevL">Název lodě</label>
            <input type="text" id="nazevL" disabled><br>
        </div>
        <div class="oddelit">
            <label for="nazevS">Název společnosti</label>
            <input type="text" id="nazevS" disabled><br>
        </div>
        <div class="oddelit">
            <label for="naklad">Druh nákladu</label>
            <input type="text" id="naklad" disabled><br>
        </div>
        <div class="oddelit">
            <label for="hmotnost">Hmotnost nákladu (kg)</label>
            <input type="number" id="hmotnost" disabled><br>
        </div>
        <div class="oddelit">
            <label for="pristav">Zvolený přístav:</label>
            <select id="pristav">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select><br>
        </div>
        <div class="oddelit">
            <label for="casP">Čas příjezdu</label>
            <input type="time" id="casP" disabled><br>
        </div>
        <div class="oddelit">
            <label for="casO">Čas odjezdu</label>
            <input type="time" id="casO" disabled><br>
        </div>
        <div class="oddelit">
            <label for="stav">Stav lodi</label>
            <select id="stav">
                <option value="1">Očekává se</option>
                <option value="2">Aktuálně v přístavu</option>
                <option value="3">Již odjela</option>
            </select><br>
        </div>

        <button type="button" class="myButton3 uprostred" onclick="closeForm()">Ok</button>
    </form>
</div>

<!-- navigace -->
<nav class="navigace obecne">
    <nav class="vlevoNav">
        <a class="nav1" href='/uvod'>ÚVOD </a>
        <a class="nav2" href='/rozcestnik'> ROZCESTNÍK </a>
    </nav>
    <nav class="vpravoNav">
        <button  class="myButton3 nav1" onclick="openForm2()" type="button">PŘIHLÁSIT SE</button>
        <button  class="myButton2 nav2" type="button">ODHLÁSIT SE</button>
    </nav>
</nav>

<!-- článek: harmonogram -->
<article class="clanek obecne">
    <h2 class="uprostredN">Harmonogram</h2>

    <!-- 1.tabulka: očekávané lodě -->
    <div class="odstavec2">
        <h3 class="velke">Očekává se</h3>
        <table class="table2">
            <tr>
                <th>ID lodě</th>
                <th>Název lodě</th>
                <th>Název společnosti</th>
                <th>Druh nákladu</th>
                <th>Čas příjezdu</th>
                <th>Čas odjezdu</th>
                <th>Stav lodi</th>
                <th>Zobrazit detail</th>
            </tr>
            <tr th:each="schedule: ${harmData}"
                th:if="${schedule.state == T(com.example.springjpaweb.enums.StateOfShip).ARRIVING}">
                <td th:text="${schedule.ship.id}"></td>
                <td th:text="${schedule.ship.name}"></td>
                <td th:text="${schedule.ship.company}"></td>
                <td th:text="${schedule.ship.cargoType}"></td>
                <td th:text="${schedule.arrivalTime}"></td>
                <td th:text="${schedule.departureTime}"></td>
                <td>Očekává se</td>
                <td>
                    <button class="myButton1 uprostred" onclick="openForm()" type="button">Detail</button>
                </td>
            </tr>
        </table>
    </div>

    <!-- 2.tabulka: aktuálně v přístavu -->
    <div class="odstavec2">
        <h3 class="velke">Aktuálně v přístavu</h3>
        <table class="table2">
            <tr>
                <th>ID lodě</th>
                <th>Název lodě</th>
                <th>Název společnosti</th>
                <th>Druh nákladu</th>
                <th>Čas příjezdu</th>
                <th>Čas odjezdu</th>
                <th>Stav lodi</th>
                <th>Zobrazit detail</th>
            </tr>
            <tr th:each="schedule: ${harmData}"
                th:if="${schedule.state == T(com.example.springjpaweb.enums.StateOfShip).HARBER}">
                <td th:text="${schedule.ship.id}"></td>
                <td th:text="${schedule.ship.name}"></td>
                <td th:text="${schedule.ship.company}"></td>
                <td th:text="${schedule.ship.cargoType}"></td>
                <td th:text="${schedule.arrivalTime}"></td>
                <td th:text="${schedule.departureTime}"></td>
                <td>V přístavu</td>
                <td>
                    <button class="myButton1 uprostred" onclick="openForm()" type="button">Detail</button>
                </td>
            </tr>
        </table>
    </div>

    <!-- 3.tabulka: již odpluté lodě -->
    <div class="odstavec2">
        <h3 class="velke">Již odpluly</h3>
        <table class="table2">
            <tr>
                <th>ID lodě</th>
                <th>Název lodě</th>
                <th>Název společnosti</th>
                <th>Druh nákladu</th>
                <th>Čas příjezdu</th>
                <th>Čas odjezdu</th>
                <th>Stav lodi</th>
                <th>Zobrazit detail</th>
            </tr>
            <tr th:each="schedule: ${harmData}"
                th:if="${schedule.state == T(com.example.springjpaweb.enums.StateOfShip).GONE}">
                <td th:text="${schedule.ship.id}"></td>
                <td th:text="${schedule.ship.name}"></td>
                <td th:text="${schedule.ship.company}"></td>
                <td th:text="${schedule.ship.cargoType}"></td>
                <td th:text="${schedule.arrivalTime}"></td>
                <td th:text="${schedule.departureTime}"></td>
                <td>Již odplula</td>
                <td>
                    <button class="myButton1 uprostred" onclick="openForm()" type="button">Detail</button>
                </td>
            </tr>
        </table>
    </div>
</article>

<!-- zápatí -->
<div class="footer obecne">
    <p> Copyright &copy; 2022 | Karel Nosek & Jan Dušek - studentský projekt z předmětu PPRO</p>
</div>

<!-- skript pro vyskakovací okno -->
<script src="/js/popupWindow.js"></script>

</body>

</html>