<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<!--ROZCESTNÍK-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Studentský projekt Nosek & Dušek</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">

    <!-- styly -->
    <link type="text/css" rel="stylesheet" href="/css/main.css"/>

    <!-- ikona -->
    <link rel="shortcut icon" href="/img/uhk.png" type="image/png" sizes="16x16">
</head>

<body>

<!-- nadpis -->
<header class="obecne">
    <img src="/img/logo.png" class="logo" alt="Přístav Dušek & Nosek">
</header>

<!-- vyskakovací okno-->
<div class="popup" id="myForm2">
    <form class="container">
        <h2>Přihlášení uživatele</h2>
        <div class="oddelit2">
            <label for="emailPrihlaseni">Email</label>
            <input type="text" id="emailPrihlaseni" name="emailPrihlaseni" placeholder="Váš email..." required><br>
        </div>
        <div class="oddelit2">
            <label for="psw">Heslo</label>
            <input type="password" id="psw" name="psw" placeholder="Vaše heslo..." required><br>
        </div>
        <button type="submit" class="myButton3 uprostred">Přihlásit se</button><br>
        <button type="button" class="myButton2 uprostred" onclick="closeForm2()">Zavřít</button>
    </form>
</div>

<!-- navigace -->
<nav class="navigace obecne">
    <nav class="vlevoNav">
        <a class="nav1" href='/uvod'>ÚVOD </a>
        <a class="nav2" href='/rozcestnik'> ROZCESTNÍK </a>
    </nav>
    <nav class="vpravoNav">
        <div sec:authorize="isAuthenticated()">
            <a href="javascript: document.logoutForm.submit()" class="dropdown-toggle">ODHLÁSIT SE</a>
            <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
                <input hidden type="submit" value="Sign Out" />
            </form>
        </div>
    </nav>
</nav>

<!-- článek: rozcestí -->
<article class="clanek obecne">
    <h2>Kam dál?</h2>
    <div class="odstavec">
        <a class="o1" href='/harmonogram'>

            <!--obrázek-->
            <img class="obrazek3" alt="Harmonogram" src="/img/harmonogram.png">

        </a>
        <a class="o1" href='/editace-zamestnancu'>

            <!--obrázek-->
            <img class="obrazek3" alt="Evidence zaměstnanců" src="/img/evidence.png">

        </a>
        <a class="o1" href='/editace-lodi'>

            <!--obrázek-->
            <img class="obrazek3" alt="Editace lodí" src="/img/editace.png">

        </a>
    </div>
</article>

<!-- zápatí -->
<div class="footer obecne">
    <p> Copyright &copy; 2022 | Karel Nosek & Jan Dušek - studentský projekt z předmětu PPRO</p>
</div>

<!-- skript pro vyskakovací okno -->
<script src="/js/lib/popupWindow.js"></script>

</body>

</html>