<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!--HLAVNÍ STRÁNKA-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Studentský projekt Nosek & Dušek</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">

    <!-- styly -->
    <link type="text/css" rel="stylesheet" href="/css/main.css"/>

    <!-- ikona -->
    <link rel="shortcut icon" href="/img/uhk.png" type="image/png" sizes="16x16">
</head>

<body>

<!-- nadpis -->
<header class="obecne">
    <img src="/img/logo.png" class="logo" alt="Přístav Dušek & Nosek">
</header>

<!-- vyskakovací okno-->
<div class="popup" id="myForm2">
    <form class="container">
        <h2>Přihlášení uživatele</h2>
        <div class="oddelit2">
            <label for="emailPrihlaseni">Email</label>
            <input type="text" id="emailPrihlaseni" name="emailPrihlaseni" placeholder="Váš email..." required><br>
        </div>
        <div class="oddelit2">
            <label for="psw">Heslo</label>
            <input type="password" id="psw" name="psw" placeholder="Vaše heslo..." required><br>
        </div>
        <button type="submit" class="myButton3 uprostred">Přihlásit se</button><br>
        <button type="button" class="myButton2 uprostred" onclick="closeForm2()">Zavřít</button>
    </form>
</div>

<!-- navigace -->
<nav class="navigace obecne">
    <nav class="vlevoNav">
        <a class="nav1" href='/uvod'>ÚVOD </a>
        <a class="nav2" href='/rozcestnik'> ROZCESTNÍK </a>
    </nav>
    <nav class="vpravoNav">
        <button  class="myButton3 nav1" onclick="openForm2()" type="button">PŘIHLÁSIT SE</button>
        <button  class="myButton2 nav2" type="button">ODHLÁSIT SE</button>
    </nav>
</nav>

<!-- článek: základní info -->
<article class="clanek obecne">
    <h2>Základní info</h2>
    <div class="odstavec">

        <!-- obrázek -->
        <img src="/img/obr5.jpg" sizes="100x100" class="obrazek" alt="Obrázek přístavu">

        <p>
            Přístav Nosek & Dušek je rozložen na levém břehu řeky Dunaj na 20km. Je určen hlavně pro překlad zboží mezi
            vodní a silniční dopravou. Může ale též sloužit pro stání plavidel. Jedná se o velmi důležitou křižovatku
            mezi různými druhy dopravy. Samozřejmostí je pak existence komunikací a skladovacích prostor. Přístav též
            plní funkci ochrannou pro obchodní a osobní lodě.
        </p>
        <p>
            V tomto přístavu je umístěno hned několik moderník strojů a jiných zařízení. Mezi ně patří například
            jeřábová dráha a železniční vlečka.
        </p>
        <p>
            Přístav má k dispozici vlastní tarifní železniční bod, včetně rozsáhlé železniční a vlečkové
            sítě.
            Je zde velká plocha pro manipulace a složení nákladu. Také je zde jeřáb s nosností 300 tun. V přístavu jsou
            též budovy se sociálním zařízením, administativní budovy, skladové prostory či mnoho dalších zařízeních.
        </p>
        <p class="odsadit">
            Dají se zde též překládat různé druhy zboží, jako jsou agrární produkty, stavebniny a ostatní
            hromadné substráty volně ložené. Dále jsou to kusové zásilky, železo, chemické výrobky, ale také kontejnery,
            a mnohé další.
        </p>
    </div>
</article>

<!-- článek: ceník -->
<article class="clanek obecne">
    <h2 class="uprostredN">Ceník</h2>
    <div class="odstavec obal ">
        <div class="ceny">
            <h3>Plavidla s vlastním pohonem</h3>
            <ul>
                <li> o nosnosti do 500 tun</li>
                <li> o nosnosti nad 500 tun</li>
            </ul>
            <br>
            <h3>Plavidla bez vlastního pohonu</h3>
            <ul>
                <li> o nosnosti do 500 tun</li>
                <li> o nosnosti nad 500 tun</li>
            </ul>
            <br>
            <h3>Remorkéry</h3>
            <ul>
                <li> tlačné</li>
                <li> vlečné</li>
            </ul>
        </div>
        <div class="ceny2">
            <h3>Cena</h3>
            <ul>
                <li>600 Kč/1 den</li>
                <li>1 200 Kč/1 den</li>
            </ul>
            <br>
            <h3><br></h3>
            <ul>
                <li>850 Kč/1 den</li>
                <li>1 450 Kč/1 den</li>
            </ul>
            <br>
            <h3><br></h3>
            <ul>
                <li>250 Kč/1 den</li>
                <li>450 Kč/1 den</li>
            </ul>
        </div>

        <!--obrázek-->
        <div class="ceny">
            <img src="/img/obr2.png" sizes="100x100" class="obrazek2" alt="Obrázek stroje">
        </div>

    </div>
</article>

<!-- článek: přihlášení zaměstnance-->
<article class="clanek obecne">
    <h2>Část pro zaměstnance</h2>
    <div class="odstavec">
        <p class="odsadit">Abyste mohli zobrazit tabulky s loděma a se zaměstnanci, musíte být přihlášen. Pro editaci
            údajů musíte též kromě přihlašovacích údajů vlastnit i dostatečně silná oprávnění (Vedoucí přístavu/Admin).
        </p>
        <p class="odsadit">Na naší stránce se dají zobrazit různé stránky s mnoha tabulkami. Jedna z těchto stránek je
            harmonogram. Zde se nacházejí 3 tabulky. Ty zobrazují přehled všech lodí, které mají (či měli) s přístavem
            něco společného. V první tabulce jsou ty lodě, které do přístavu teprve přijedou. Ve druhé tabulce se
            nacházejí ty lodě, které se v něm aktuálně nacházejí. V té poslední je zobrazena historie všech lodí co již
            odjely. Další tabulka, kterou jako přihlášení můžete nalézt, je databáze se zaměstnanci a jejich údaji.
            A jak již bylo řečeno výše, pokud na to máte oprávnění, můžete tyto údaje i editovat.
        </p>
        <p class="odsadit">
            Poslední stránka, kterou si můžete zobrazit je editace lodí. Zde se nacházejí všechny lodě v jedné tabulce.
            Po kliknutí na tlačítko detail můžete tyto lodě upravit (jejich údaje). Opět ale pouze tehdy,
            pokud na to máte oprávnění. Údaje pro přihlášení na naše stránky Vám sdělíme pokud budete na
            pracovním pohovoru úspěšně přijat. Pro přihlášení klikněte na tlačítko níže, případně na tlačítko
            nacházející se nahoře na obrazovce.
        </p>

        <!-- tlačítko pro přihlášení -->
        <button class="myButton3 odsadit" onclick="openForm2()" type="button">PŘIHLÁSIT SE</button>

    </div>
</article>

<!-- zápatí -->
<div class="footer obecne">
    <p> Copyright &copy; 2022 | Karel Nosek & Jan Dušek - studentský projekt z předmětu PPRO</p>
</div>

<!-- skript pro vyskakovací okno -->
<script src="/js/lib/popupWindow.js"></script>

</body>

</html>